body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#video-chat-container {
    display: grid;
    gap: 10px;
    width: 100%;
    height: 80%;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

video {
    width: 300px;  
    height: 200px; 
    border: 1px solid #000;
    border-radius: 5px;
}

#end-call-button {
    width: 100px;
    height: 100px;
    background: none; 
    border: none; 
    cursor: pointer; 
    position: fixed;
    bottom: 20px;
}

#end-call-button img {
    width: 100%;
    height: 100%;
}

#invite-button {
    width: 60px;
    height: 50px; 
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 80px; 
}

#invite-button img {
    width: 100%;
    height: 100%;
}

#chat-button {
    width: 60px;
    height: 50px; 
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 15px; 
}

#chat-button img {
    width: 100%;
    height: 100%;
}

#chat-container {
    position: fixed;
    right: -300px; 
    top: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease; 
}

#chat-container.show {
    right: 0; 
}

#chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#chat-input {
    padding: 10px;
    border: 1px solid #ddd;
    width: calc(100% - 22px); 
}

#send-chat-button {
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

#close-chat-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
