body {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#video-chat-container {
    display: flex; 
    flex-wrap: wrap; /* 비디오가 화면을 넘어갈 경우 다음 줄로 넘어가도록 설정 */
    gap: 10px;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 80%;
}

video {
    width: 150px;  
    height: 100px; 
    border: 1px solid #000;
    border-radius: 5px;
    background-color: black;
}

#invite-button {
    width: 60px;
    height: 50px; 
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 80px; 
}

#invite-button img {
    width: 100%;
    height: 100%;
}

#chat-button {
    width: 60px;
    height: 50px; 
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 15px; 
}

#chat-button img {
    width: 100%;
    height: 100%;
}

#chat-container {
    position: fixed;
    right: -400px; 
    top: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease; 
    z-index: 100;
}

#chat-container.show {
    right: 0; 
}

#chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#chat-tab-button, #ai-tab-button {
    width: 50%;
    padding: 10px 0;
    border: none;
    font-size: 20px;
    background: white;
    cursor: pointer;
    text-align: center;
    color: black;
}

#chat-tab-button.active, #ai-tab-button.active {
    background-color: #d3d3d3;
}

#chat-messages-container {
    flex: 1;
    padding: 10px;
    overflow-y: auto; /* 메시지가 많을 경우 스크롤 활성화 */
    border-top: 1px solid #ddd;
}

#chat-input-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}

#chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#send-chat-button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    width: 80px;
}

#close-chat-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: -30px; 
    top: 50%; 
    transform: translateY(-50%);
    padding: 10px;
}

#microphone-toggle-button {
    width: 100px;
    height: 100px;
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: calc(50% + 90px); 
}

#camera-toggle-button {
    width: 100px;
    height: 100px;
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: calc(50% - 200px); 
}

#cam-img, #mic-img {
    width: 40px;
    height: 40px;
}
#end-call-button {
    width: 100px;
    height: 100px;
    background: none; 
    border: none; 
    cursor: pointer; 
    position: fixed;
    bottom: 20px;
    left: calc(50% - 50px);
}

#end-call-button img {
    width: 80px;
    height: 80px;
}

#cam-off, #mic-off {
    width: 70px;
    height: 70px;
    background: none; 
    border: none; 
    cursor: pointer; 
    position: fixed;
    bottom: 35px;
    display: none;
}

#cam-off {
    left: calc(50% - 184px); 
}

#mic-off {
    left: calc(50% + 103px); 
}

#preparation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#preview-video {
    width: 250px;
    height: 200px;
}

#toggle-buttons {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: 10px;
}

#prep-cam-img, #prep-mic-img {
    width: 70px;
    height: 70px;
}

#toggle-buttons .control-button {
    margin: 0 5px;
}

#remote-video {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; /* 비디오 간 간격 설정 */
}

.video-wrapper {
    width: 150px; /* 비디오 요소의 너비 설정 */
    height: 100px; /* 비디오 요소의 높이 설정 */
    position: relative;
}

.video-nickname {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    z-index: 1; /* 비디오 위에 표시되도록 z-index 설정 */
}